<link rel='stylesheet' href='/static/main2.css'>

    
<section class='content-section content-section-single'>
    <div class="content-container">
        <h3 class="content-title" style="text-align: center; margin-top: 15px;font-size: 25px;" >เข้าสู่ระบบ</h3>
        <form action="{% url 'login' %}" method="post" style="text-align: center;" >
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <button calss="button bumtton-primary" type="submit" style="margin-top: 15px;">เข้าสู่ระบบ</button>        
        </form>
    </div>

</section>
