{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/glyphicon.css' %}">
    
    <script src="{% static 'js/sale.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/cpe.css' %}">

    

    <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="homepage2" style="background-color: orange;margin-top: 5px;">Coffee Menu </a> 
        </li>
            <a class="nav-link active" href="/" style="margin-left: 1590px;"></a>
        </li>
        {% if  user.is_authenticated %}
            <a class="nav-link"  href="indexformanagement">
                <span>{{user.username}}<span>
            </a> 
            </a> 
        </li>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828267.png" height="40px" width="50px" style="margin-left: 10px;"></a> 
        </li>
            <a class="nav-link" href="{% url 'register' %}"><img src="https://cdn-icons-png.flaticon.com/512/2921/2921224.png" height="40px" width="50px"></a> 
        </li>
        {% endif %}
    </ul>
    </nav>
    <div style="font-size:0;" class="bg-secondary">
        <input type='image' id='btnNew' src="https://cdn-icons-png.flaticon.com/512/3161/3161551.png" width="50px" height="50px"  alt="newOn" style="margin-left: 20px;">
        <input type='image' id='btnSave' src="https://cdn-icons-png.flaticon.com/512/2331/2331970.png" width="50px" height="45px" alt="saveOn" style="margin-left: 20px;">
        <input type='image' id='btnPrint' src="https://cdn-icons-png.flaticon.com/512/551/551289.png"  width="50px" height="50px"alt="printOn" style="margin-left: 20px;">
    </div>
    <br />
    <form id='form_sale' action='/'>
    {% csrf_token %}
    <div class="container-fluid">
        <div class='form-row align-items-center'>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Sale No :</div>
                    </div>
                    <input type='text' id='txt_SaleNo' name='sale_no' class='form-control' placeholder='Sale No'>
                </div>
            </div>
            <div class="col-0 col-lg-1"></div>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Sale Date :</div>
                    </div>
                    <input type='text' id='txt_SaleDate' name='date' class='form-control' required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                    <button type='button' class="btn btn-default" id='btn_SaleDate'>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </button>
                </div>
            </div>
        </div>
        <br />
        <!-- Customer and Customer Name -->
        <div class='form-row'>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Customer Code :</div>
                    </div>
                    <input type='text' id='txt_CustomerCode' name='customer_code' class='form-control' placeholder='Customer Code' required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                    <button type='button' class="btn btn-default btn-sm search_customer_code">
                        <span class="glyphicon glyphicon-search"></span>
                </div>
            </div>
            <div class="col-0 col-lg-1"></div>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>Customer Name :</div>
                    </div>
                    <input type='text' id='txt_CustomerName' name='customer_name' class='form-control' value='' readonly>
                </div>
            </div>
        </div>
        <br />
<!-- Payment Method and Payment Reference -->    
        <div class='form-row'>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>*Payment Method :</div>
                    </div>
                    <input type='text' id='txt_PaymentMethod' name='payment_method' class='form-control' placeholder='Payment Method' required>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                    <button type='button' class="btn btn-default btn-sm search_payment_method">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <div class="col-0 col-lg-1"></div>
            <div class="col-lg-4 col-md-8 col-12 col-auto">
                <div class='input-group mb-2'>
                    <div class='input-group-prepend'>
                        <div class='input-group-text'>Payment Reference :</div>
                    </div>
                    <input type='text' id='txt_Description' name='description' class='form-control'  placeholder='Payment Reference' required>
                </div>
            </div>
        </div>
        <br />
        </div>
    </div>
    <br />
    Products Sold:
    <div id='div_table' class="table-responsive-sm table-editable">
        {% block main %}
        <table id='table_main' class="table table-sm table-fixed table-bordered">
            <thead>
                <tr class="d-flex">
                    <td class="col-1 table-active" align="center"><b>#</b></td>
                    <th class="col-2 table-active" scope="row" >*Product Code</th>
                    <th class="col-3 table-active" scope="row" >Name</th>
                    <th class="col-2 table-active" scope="row" >*Unit Price</th>
                    <th class="col-1 table-active" scope="row" >*Quantity</th>
                    <th class="col-2 table-active" scope="row" >Extended Price</th>
                    <td class="col-1" align="center">
                        <span class="table-add glyphicon glyphicon-plus"></span>
                    </td>
                </tr>
                <!-- Hidden Table Row (tr) for Copy to Fill Data -->
                <tr class="d-flex hide">
                    <td class="col-1 order_no table-active" scope="row" align="center"></td>
                    <td class="col-2 project_code_1" scope="row" align="right">
                        <span class='project_code'></span>
                        <button type='button' class="btn btn-default btn-sm search_product_code">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </td>
                    <td class="col-3 product_name table-warning" scope="row"></td>
                    <td class="col-2 unit_price table-warning" scope="row" ></td>
                    <td class="col-1 quantity" scope="row" pattern="^[0-9]" align="right" contenteditable="true"></td>
                    <td class="col-2 extended_price table-warning" scope="row" align="right"></td>
                    <td class="col-1"align="center">
                        <span class="table-remove glyphicon glyphicon-remove"></span>
                    </td>
                </tr>                
            </thead>
            <tbody>
                <!-- Data will append by JQuery -->
            </tbody>
            <tfoot>
                <tr class="d-flex">
                    <td class="col-9" scope="row" colspan='5' align="right" class='border-0'>Total Price : </td>
                    <td class="col-2 table-warning" scope="row" align="right"><label id='lbl_TotalPrice' ></label></td>
                    <td class="col-1"align="center"></td>
                    <input type='hidden' id='txt_TotalPrice' name='total' />
                </tr>
            </toot>
        </table>
        {% endblock %}
    </div>
    </form>

<!-- The Modal -->
<div class="modal" id="modal_form">
  <div class="modal-dialog">
    <div class="modal-content">
      <input type='hidden' id='txt_modal_param' />
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">List Of Value</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body modal-dialog-scrollable">
            <table id='table_modal' class="modal-body table table-sm table-bordered">
                <thead>
                    <tr>
                        <th class='col-1'>#</th>
                        <th class='col-3'><label id='model_header_1'>Code</label></th>
                        <th class='col-5'><label id='model_header_2'>Name</label></th>
                        <th class='col-3'><label id='model_header_3'>Note</label></th>
                        <td class='hide'></td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data will append by JQuery -->
                    <tr>
                        <td>1</td>
                        <td><a class='a_click' href='#'></a></td>
                        <td></td>
                        <td></td>
                        <td class='hide'></td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
</body>
</html>